.allPage{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.formContainer{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 100px;
    background-color: aliceblue;
    padding: 20px 20px 20px 20px;
    padding-bottom: 30px;
}

.contTitle{
    font-size: 30px;
}

.inputSpace{
    
}

.loginButton{
    
}

.createAccountButton{
    
}

